#game {
  border: 1px dashed;
  margin: auto;
  display: block;
}

@font-face {
  font-family: 'Gaegu', cursive;
}

body {
  background-color: rgb(13, 188, 121);
  color: black;
}

h1 {
  font-family: 'Gaegu';
  text-align: center;
}

.left-section {
  margin-left: 3em;
  text-align: center;
  float: left
}

.right-section {
  margin-right: 3em;
  text-align: center;
  float: right
}



