#game {
  border: 1px dashed;
  margin: 0;
  display: block;
}

@font-face {
  font-family: 'Gaegu', cursive;
}

body {
  background-color: rgb(13, 188, 121);
  color: black;
}

h1 {
  font-family: 'Gaegu';
  text-align: center;
}

.main {
  display: flex;
  justify-content: space-evenly
}

.left-section {
  text-align: center;
}

.right-section {
  text-align: center;
}




